<!DOCTYPE html>
<html>
<head>
	<script src="js/jquery-2.2.1.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<title>Sistema</title>
</head>
<body>

	<nav class="navbar fixed-top navbar-light bg-light">
	  <a class="navbar-brand" href="#">
	    <img src="img/node.jpg" width="100" height="50" class="d-inline-block align-top" alt="">
	    Seja Bem Vindo...
	    <strong>Fulano de tals ...</strong>
	    <a class="btn btn-danger" href="#" role="button">Sair</a>
	  </a>
	</nav>

	<br /><br /><br /><br />

	<div class="container">
		<hr>
		
		<label class="text-info"><h3><img src="img/people.ico">Administração</h3></label>

		<div class="row col-sm-12">
			<div class="card col-sm-4" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title text-info">PESSOAS</h5>
			    <p class="card-text">Descrição da Atividade</p>
			    <a href="#" class="btn btn-primary">Cadastrar...</a>
			    <a href="#" class="btn btn-primary">Vizualizar...</a>
			  </div>
			</div>

			<div class="card col-sm-4" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title text-info">CLIENTES</h5>
			    <p class="card-text">Descrição da Atividade</p>
			    <a href="#" class="btn btn-primary">Cadastrar...</a>
			    <a href="#" class="btn btn-primary">Vizualizar...</a>
			  </div>
			</div>

			<div class="card col-sm-4" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title text-info">FORNECEDORES</h5>
			    <p class="card-text">Descrição da Atividade</p>
			    <a href="#" class="btn btn-primary">Cadastrar...</a>
			    <a href="#" class="btn btn-primary">Vizualizar...</a>
			  </div>
			</div>
		</div>

		<hr>
		
		<label class="text-info"><h3><img src="img/relatorio.png">Princing</h3></label>

		<div class="row col-sm-12">


			<div class="card col-sm-4" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title text-info">CATEGORIAS</h5>
			    <p class="card-text">Descrição da Atividade</p>
			    <a href="#" class="btn btn-primary">Cadastrar...</a>
			    <a href="#" class="btn btn-primary">Vizualizar...</a>
			  </div>
			</div>

			<div class="card col-sm-4" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title text-info">SUBGRUPOS</h5>
			    <p class="card-text">Descrição da Atividade</p>
			    <a href="#" class="btn btn-primary">Cadastrar...</a>
			    <a href="#" class="btn btn-primary">Vizualizar...</a>
			  </div>
			</div>

			<div class="card col-sm-4" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title text-info">PRODUTOS</h5>
			    <p class="card-text">Descrição da Atividade</p>
			    <a href="#" class="btn btn-primary">Cadastrar...</a>
			    <a href="#" class="btn btn-primary">Vizualizar...</a>
			  </div>
			</div>
		</div>	

		<br />
		<div class="row col-sm-12">
			<div class="card col-sm-12" style="width: 18rem;">
				  <div class="card-body">
				    <h5 class="card-title text-info">PREÇOS</h5>
				    <p class="card-text">Descrição da Atividade</p>
				    <a href="#" class="btn btn-primary">Cadastrar...</a>
				    <a href="#" class="btn btn-primary">Vizualizar...</a>
				  </div>
				</div>
		</div>
	</div>
	<br />	
	<footer class="bg-light">
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<br />
					<br />					
				</div>
				<div class="col-sm-6">
					<br />
					<br />		
				</div>
			</div>
		</div>
		<h6>Versão: 1.0.0</h6>	
	</footer>
</body>
</html>